@import '~@angular/material/theming';

@include mat-core();

$my-light-primary: mat-palette($mat-teal);
$my-light-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
$my-light-warn:    mat-palette($mat-deep-orange);
$my-light-theme: mat-light-theme($my-light-primary, $my-light-accent, $my-light-warn);

@include angular-material-theme($my-light-theme);

$my-dark-primary: mat-palette($mat-cyan);
$my-dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$my-dark-warn:    mat-palette($mat-deep-orange);
$my-dark-theme:   mat-dark-theme($my-dark-primary, $my-dark-accent, $my-dark-warn);

.my-dark-theme {
  @include angular-material-theme($my-dark-theme);
}
